/* Pon tu código css aqui */
body{
	margin:0;
	padding:0;
}
button{
	margin:10px;
}
.caja{
	width:200px;
	height:200px;
	position:absolute;
}
.rojo{
	background-color:#EE3E64;
	left: 0px;
	top: 0px;
}
.azul{
	background-color: #44ACCF;
	right: 0px;
	top: 0px;
	position: relative;
}
.verde{
	background-color:#B7D84B;
	left: 0px;
	bottom: 0px;
}
.amarilla {
	background-color: #FFEF1E;
	right: 0px;
	bottom: 0px;
}